<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../assets/css/register.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <title>Register</title>
  </head>
  <body>
    <div class="register-box">
      <h1>Register</h1>
      <form class="form" >
        <label for="username">Full name</label>
        <input type="text" on id="username" name="name"placeholder="Fullname" />
        <span class="username" style="color: red; visibility: hidden"
          >Name must be filled out (Only Characters)!</span
        ><br /><br />
        <label for="country">Nationality</label>
        <select id="country" name="country">
          <option>Select Your Nationality</option>
          <option value="Afghanistan">Afganastan</option>
          <option value="Aland Islands">Oileáin Aland</option>
          <option value="Albania">Albáin</option>
          <option value="Algeria">An Ailgéir</option>
          <option value="American Samoa">Samó Mheiriceá</option>
          <option value="Andorra">Andóra</option>
          <option value="Angola">Angóla</option>
          <option value="Anguilla">Anguilla</option>
          <option value="Antarctica">Antartaice</option>
          <option value="Antigua and Barbuda">Antigua agus Barbúda</option>
          <option value="Argentina">An Airgintín</option>
          <option value="Armenia">Airméin</option>
          <option value="Aruba">Aruba</option>
          <option value="Australia">An Astráil</option>
          <option value="Austria">An Ostair</option>
          <option value="Azerbaijan">An Asarbaiseáin</option>
          <option value="Bahamas">Na Bahámaí</option>
          <option value="Bahrain">Bairéin</option>
          <option value="Bangladesh">An Bhanglaidéis</option>
          <option value="Barbados">Barbadós</option>
          <option value="Belarus">An Bhealarúis</option>
          <option value="Belgium">An Bheilg</option>
          <option value="Belize">An Bheilís</option>
          <option value="Benin">Beinin</option>
          <option value="Bermuda">Beirmiúda</option>
          <option value="Bhutan">An Bhútáin</option>
          <option value="Bolivia">An Bholaiv</option>
          <option value="Bonaire, Sint Eustatius and Saba">
            Bonaire, Sint Eustatius agus Saba
          </option>
          <option value="Bosnia and Herzegovina">
            An Bhoisnia agus Heirseagaivéin
          </option>
          <option value="Botswana">An Bhotsuáin</option>
          <option value="Bouvet Island">Oileán Bouvet</option>
          <option value="Brazil">An Bhrasaíl</option>
          <option value="British Indian Ocean Territory">
            Críoch Aigéan Indiach na Breataine
          </option>
          <option value="Brunei Darussalam">Brúiné Darussalam</option>
          <option value="Bulgaria">An Bhulgáir</option>
          <option value="Burkina Faso">Buircíne Fasó</option>
          <option value="Burundi">An Bhurúin</option>
          <option value="Cambodia">An Chambóid</option>
          <option value="Cameroon">Camarún</option>
          <option value="Canada">Ceanada</option>
          <option value="Cape Verde">Rinn Verde</option>
          <option value="Cayman Islands">Oileáin Cayman</option>
          <option value="Central African Republic">
            Poblacht na hAfraice Láir
          </option>
          <option value="Chad">Sead</option>
          <option value="Chile">An tSile</option>
          <option value="China">An tSín</option>
          <option value="Christmas Island">Oileán na Nollag</option>
          <option value="Cocos (Keeling) Islands">
            Oileáin Cocos (Keeling)
          </option>
          <option value="Colombia">An Cholóim</option>
          <option value="Comoros">Comoros</option>
          <option value="Congo">Congó</option>
          <option value="Congo, Democratic Republic of the Congo">
            Congó, Poblacht Dhaonlathach an Chongó
          </option>
          <option value="Cook Islands">Oileáin Cook</option>
          <option value="Costa Rica">Costa Rica</option>
          <option value="Cote D'Ivoire">Cote D'Ivoire</option>
          <option value="Croatia">An Chróit</option>
          <option value="Cuba">Cúba</option>
          <option value="Curacao">Curacao</option>
          <option value="Cyprus">An Chipir</option>
          <option value="Czech Republic">Poblacht na Seice</option>
          <option value="Denmark">An Danmhairg</option>
          <option value="Djibouti">Djibouti</option>
          <option value="Dominica">Doiminice</option>
          <option value="Dominican Republic">An Phoblacht Dhoiminiceach</option>
          <option value="Ecuador">Eacuadór</option>
          <option value="Egypt">An Éigipt</option>
          <option value="El Salvador">El Salvador</option>
          <option value="Equatorial Guinea">An Ghuine Mheánchriosach</option>
          <option value="Eritrea">Eiritré</option>
          <option value="Estonia">An Eastóin</option>
          <option value="Ethiopia">An Aetóip</option>
          <option value="Falkland Islands (Malvinas)">
            Oileáin Fháclainne (Malvinas)
          </option>
          <option value="Faroe Islands">Oileáin Fharó</option>
          <option value="Fiji">Fidsí</option>
          <option value="Finland">An Fhionlainn</option>
          <option value="France">An Fhrainc</option>
          <option value="French Guiana">Guáin na Fraince</option>
          <option value="French Polynesia">Polainéis na Fraince</option>
          <option value="French Southern Territories">
            Críocha Deiscirt na Fraince
          </option>
          <option value="Gabon">An Ghabúin</option>
          <option value="Gambia">An Ghaimbia</option>
          <option value="Georgia">Georgia</option>
          <option value="Germany">An Ghearmáin</option>
          <option value="Ghana">Gána</option>
          <option value="Gibraltar">Giobráltar</option>
          <option value="Greece">An Ghréig</option>
          <option value="Greenland">An Ghraonlainn</option>
          <option value="Grenada">Grenada</option>
          <option value="Guadeloupe">Guadalúip</option>
          <option value="Guam">Guam</option>
          <option value="Guatemala">Guatamala</option>
          <option value="Guernsey">Geansaí</option>
          <option value="Guinea">Guinea</option>
          <option value="Guinea-Bissau">Guine-Bissau</option>
          <option value="Guyana">An Ghuáin</option>
          <option value="Haiti">Háití</option>
          <option value="Heard Island and Mcdonald Islands">
            Oileán Heard agus Oileáin McDonald
          </option>
          <option value="Holy See (Vatican City State)">
            Féach Naofa (Stát Chathair na Vatacáine)
          </option>
          <option value="Honduras">Hondúras</option>
          <option value="Hong Kong">Hong Cong</option>
          <option value="Hungary">An Ungáir</option>
          <option value="Iceland">An Íoslainn</option>
          <option value="India">An India</option>
          <option value="Indonesia">An Indinéis</option>
          <option value="Iran, Islamic Republic of">
            An Iaráin, Poblacht Ioslamach na
          </option>
          <option value="Iraq">An Iaráic</option>
          <option value="Ireland">Éireann</option>
          <option value="Isle of Man">Oileán Mhanann</option>
          <option value="Israel">Iosrael</option>
          <option value="Italy">An Iodáil</option>
          <option value="Jamaica">Iamáice</option>
          <option value="Japan">An tSeapáin</option>
          <option value="Jersey">Jersey</option>
          <option value="Jordan">An Iordáin</option>
          <option value="Kazakhstan">An Chasacstáin</option>
          <option value="Kenya">An Chéinia</option>
          <option value="Kiribati">Kiribati</option>
          <option value="Korea, Democratic People's Republic of">
            An Chóiré, Daon-Phoblacht Dhaonlathach na
          </option>
          <option value="Korea, Republic of">An Chóiré, Poblacht na</option>
          <option value="Kosovo">An Chosaiv</option>
          <option value="Kuwait">Cuáit</option>
          <option value="Kyrgyzstan">An Chirgeastáin</option>
          <option value="Lao People's Democratic Republic">
            Poblacht Dhaonlathach an Phobail Lao
          </option>
          <option value="Latvia">An Laitvia</option>
          <option value="Lebanon">Liobáin</option>
          <option value="Lesotho">Leosóta</option>
          <option value="Liberia">An Libéir</option>
          <option value="Libyan Arab Jamahiriya">
            Jamahiriya Arabach na Libia
          </option>
          <option value="Liechtenstein">Lichtinstéin</option>
          <option value="Lithuania">An Liotuáin</option>
          <option value="Luxembourg">Lucsamburg</option>
          <option value="Macao">Macao</option>
          <option value="Macedonia, the Former Yugoslav Republic of">
            Macadóine, Iar-Phoblacht Iúgslavach na
          </option>
          <option value="Madagascar">Madagascar</option>
          <option value="Malawi">An Mhaláiv</option>
          <option value="Malaysia">An Mhalaeisia</option>
          <option value="Maldives">Oileáin Mhaildíve</option>
          <option value="Mali">Mailí</option>
          <option value="Malta">Málta</option>
          <option value="Marshall Islands">Oileáin Marshall</option>
          <option value="Martinique">Martinique</option>
          <option value="Mauritania">An Mháratáin</option>
          <option value="Mauritius">Oileán Mhuirís</option>
          <option value="Mayotte">Mayotte</option>
          <option value="Mexico">Meicsiceo</option>
          <option value="Micronesia, Federated States of">
            Micrinéise, Stáit Chónaidhme na
          </option>
          <option value="Moldova, Republic of">An Mholdóiv, Poblacht na</option>
          <option value="Monaco">Monacó</option>
          <option value="Mongolia">Mhongóil</option>
          <option value="Montenegro">Montainéagró</option>
          <option value="Montserrat">Montserrat</option>
          <option value="Morocco">Maracó</option>
          <option value="Mozambique">Mósaimbíc</option>
          <option value="Myanmar">Maenmar</option>
          <option value="Namibia">Namaib</option>
          <option value="Nauru">Nárú</option>
          <option value="Nepal">Neipeal</option>
          <option value="Netherlands">An Ísiltír</option>
          <option value="Netherlands Antilles">Aintillí na hÍsiltíre</option>
          <option value="New Caledonia">An Nua-Chaladóin</option>
          <option value="New Zealand">An Nua-Shéalainn</option>
          <option value="Nicaragua">Nicearagua</option>
          <option value="Niger">An Nígir</option>
          <option value="Nigeria">An Nigéir</option>
          <option value="Niue">Niue</option>
          <option value="Norfolk Island">Oileán Norfolk</option>
          <option value="Northern Mariana Islands">
            Oileáin Mariana Thuaisceart
          </option>
          <option value="Norway">An Iorua</option>
          <option value="Oman">Oman</option>
          <option value="Pakistan">An Phacastáin</option>
          <option value="Palau">Palau</option>
          <option value="Palestinian Territory, Occupied">
            Críoch na Palaistíne, Áitithe
          </option>
          <option value="Panama">Panama</option>
          <option value="Papua New Guinea">Nua-Ghuine Phapua</option>
          <option value="Paraguay">Paragua</option>
          <option value="Peru">Peiriú</option>
          <option value="Philippines">Na hOileáin Fhilipíneacha</option>
          <option value="Pitcairn">Pitcairn</option>
          <option value="Poland">An Pholainn</option>
          <option value="Portugal">An Phortaingéil</option>
          <option value="Puerto Rico">Pórtó Ríce</option>
          <option value="Qatar">Catar</option>
          <option value="Reunion">Reunion</option>
          <option value="Romania">An Rómáin</option>
          <option value="Russian Federation">Cónaidhm na Rúise</option>
          <option value="Rwanda">Ruanda</option>
          <option value="Saint Barthelemy">Naomh Barthelemy</option>
          <option value="Saint Helena">Naomh Helena</option>
          <option value="Saint Kitts and Nevis">Saint Kitts agus Nevis</option>
          <option value="Saint Lucia">Saint Lucia</option>
          <option value="Saint Martin">Naomh Máirtín</option>
          <option value="Saint Pierre and Miquelon">
            Saint Pierre agus Miquelon
          </option>
          <option value="Saint Vincent and the Grenadines">
            Naomh Uinseann agus na Greanáidíní
          </option>
          <option value="Samoa">Samó</option>
          <option value="San Marino">San Mairíne</option>
          <option value="Sao Tome and Principe">Sao Tome agus Principe</option>
          <option value="Saudi Arabia">An Araib Shádach</option>
          <option value="Senegal">An tSeineagáil</option>
          <option value="Serbia">An tSeirbia</option>
          <option value="Serbia and Montenegro">
            An tSeirbia agus Montainéagró
          </option>
          <option value="Seychelles">Na Séiséil</option>
          <option value="Sierra Leone">Siarra Leon</option>
          <option value="Singapore">Singeapór</option>
          <option value="Sint Maarten">Naomh Máirtín</option>
          <option value="Slovakia">An tSlóvaic</option>
          <option value="Slovenia">An tSlóivéin</option>
          <option value="Solomon Islands">Oileáin Sholamón</option>
          <option value="Somalia">An tSomáil</option>
          <option value="South Africa">an Afraic Theas</option>
          <option value="South Georgia and the South Sandwich Islands">
            An tSeoirsia Theas agus Oileáin Sandwich Theas
          </option>
          <option value="South Sudan">An tSúdáin Theas</option>
          <option value="Spain">an Spáinn</option>
          <option value="Sri Lanka">Srí Lanca</option>
          <option value="Sudan">An tSúdáin</option>
          <option value="Suriname">Suranam</option>
          <option value="Svalbard and Jan Mayen">
            Svalbard agus Jan Mayen
          </option>
          <option value="Swaziland">An tSuasalainn</option>
          <option value="Sweden">An tSualainn</option>
          <option value="Switzerland">An Eilvéis</option>
          <option value="Syrian Arab Republic">
            Poblacht Arabach na Siria
          </option>
          <option value="Taiwan, Province of China">
            Taiwan, Cúige na Síne
          </option>
          <option value="Tajikistan">Táidsíceastáin</option>
          <option value="Tanzania, United Republic of">
            An Tansáin, Poblacht Aontaithe na
          </option>
          <option value="Thailand">An Téalainn</option>
          <option value="Timor-Leste">Timor-Leste</option>
          <option value="Togo">Tóga</option>
          <option value="Tokelau">Tokelau</option>
          <option value="Tonga">Tonga</option>
          <option value="Trinidad and Tobago">
            Oileán na Tríonóide agus Tobága
          </option>
          <option value="Tunisia">An Túinéis</option>
          <option value="Turkey">turcaí</option>
          <option value="Turkmenistan">An Tuircméanastáin</option>
          <option value="Turks and Caicos Islands">
            Oileáin na dTurcach agus Caicos
          </option>
          <option value="Tuvalu">Tuvalu</option>
          <option value="Uganda">Uganda</option>
          <option value="Ukraine">An Úcráin</option>
          <option value="United Arab Emirates">
            Aontas na nÉimíríochtaí Arabacha
          </option>
          <option value="United Kingdom">an Ríocht Aontaithe</option>
          <option value="United States">Stáit Aontaithe</option>
          <option value="United States Minor Outlying Islands">
            Mion-Oileáin Forimeallacha na Stát Aontaithe
          </option>
          <option value="Uruguay">Uragua</option>
          <option value="Uzbekistan">Úisbéiceastáin</option>
          <option value="Vanuatu">Vanuatú</option>
          <option value="Venezuela">Veiniséala</option>
          <option value="Viet Nam">Viet Nam</option>
          <option value="Virgin Islands, British">
            Oileáin Mhaighdean, na Breataine
          </option>
          <option value="Virgin Islands, U.s.">Oileáin Mhaighdean, U.s.</option>
          <option value="Wallis and Futuna">Wallis agus Futuna</option>
          <option value="Western Sahara">An Sahára Thiar</option>
          <option value="Yemen">Éimin</option>
          <option value="Zambia">An tSaimbia</option>
          <option value="Zimbabwe">An tSiombáib</option>
        </select>
        <span class="country" style="color: red; visibility: hidden"
          >Please select your nationality!</span
        ><br /><br />
        <label for="number">Phone number</label>
        <input type="text" id="number"name="phone" placeholder="Enter your phone number" />
        <span class="number" style="color: red; visibility: hidden"
          >Must contain only numbers!</span
        ><br /><br />
        <label for="email">Email</label>
        <input type="text" id="email" name="e-mail" placeholder="Enter your email address" />
        <span class="email" style="color: red; visibility: hidden"
          >Please enter your Email correctly!</span
        ><br />

        <p>
          <label for="password">Password</label>
          <input
            type="password"
            name="pass"
            id="password"
            placeholder="Enter your password"
          />
          <span class="password" style="color: red; visibility: hidden"
            >Password should not be empty (At least 8 characters)! </span
          ><br /><br />
          <input type="checkbox" onclick="return ShowPass()" />Show password<br /><br />
        </p>

        <label for="confirm-password">Confirm Password</label>
        <input
          type="password"
          name="confPass"
          id="confirm-password"
          placeholder="Confirm your password"
        />
        <span class="confirm-password" style="color: red; visibility: hidden"
          >Please re-type your password correctly!</span
        ><br /><br />
        <input type="checkbox" onclick="return ShowConfPass()" />Show Confirmed
        password<br /><br />

        <button type="submit">Register</button>
      </form>
    </div>
    <script src="../assets/js/validation.js"></script>
  </body>
</html>
