.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .categories-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
  }
  
  .category {
    background-color: #ddd;
    padding: 20px;
    border-radius: 5px;
  }
  
  h3 {
    margin: 0;
  }
  
  a {
    color: black;
    text-decoration: none;
  }
  