table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
  }
  
  thead {
    background-color: #ddd;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    text-align: left;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  button {
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  .popup {
    display: none; /* Hide the popup by default */
    position: fixed; /* Fix the position of the popup */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    width: 400px;
    height: auto;
  }
  
  .popup-content {
    text-align: left;
    padding: 20px;
  }
  
  .close-button {
    float: right;
    cursor: pointer;
    font-size: 20px;
    margin-top: -20px;
    margin-right: -20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
    